* {
    font-family: 'Poppins', sans-serif;
}

.chartBox {
    width: 600px;
}

/* Main content */
.main {
    margin-top: 40px; /* Add a top margin to avoid content overlay */
  }

/* * {
    box-sizing: border-box;
  } */


/* Float four columns side by side */


/* .column {
    float: center;
    width: 25%;
    padding: 0 10px;
  } */


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 0px;
}


/* Clear floats after the columns */


/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */


/* Responsive columns */

@media screen and (max-width: 100%) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
}

/* * {
    margin: 0;
    padding: 0;
} */

.animation-area {
    background: linear-gradient(to left, #ffffff, #b0c4de);
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 0.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 150px;
    height: 150px;
    animation-delay: 4.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

styling
{
  display: block;
}

styling li:hover
{
  border-radius: 40px;
  padding-left: 10px;
  color: #808080;
  background: #00bfff;
}
