{% extends 'layouts.html'%}

{%block contentA%}
<div class="animation-area">
  <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  <div class="container pt-5">
    <br>
    <h4 class="display-6 text-center">Data Visualization</h4>

    <div class="row py-2 g-4">
      <div class="col-6">
        <div class="card border-secondary">
            <div class="">
                <canvas id="myChart-x"></canvas>
            </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card border-secondary">
            <div class="">
                <canvas id="myChart-x2"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  // Get alerts distribution
  function alerts_dist_chart(plot_data)
  {
    const ctx = document.getElementById('myChart-x').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['DoS', 'Probe', 'R2L', 'U2R'],
            datasets: [{
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                data: plot_data
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            maintainAspectRatio: true,
            responsive: true,
            plugins:{
              legend: {
              display: false,
              position: 'right'
              },
              title: {
                display: true,
                text: "Attack Category Distribution",
                font: {
                  size: 16,
                  weight: "bold"
                }
              }
            }
        }
    });
  }
  
  // Get alerts protocol distribution
  function alerts_protocol_dist_chart(plot_data)
  {
    const ctx2 = document.getElementById('myChart-x2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: ["ICMP", "TCP", "UDP"],
            datasets: [{
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                    
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1,
                data: plot_data
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            maintainAspectRatio: true,
            responsive: true,
            plugins:{
              legend: {
              display: false,
              position: 'right'
              },
              title: {
                display: true,
                text: "Alerts Protocol Distribution",
                font: {
                  size: 16,
                  weight: "bold"
                }
              }
            }
        }
    });
  }

  // Get alerts distribution ajax function
  function get_alerts_dist()
  {
    var send_req = {req_info: "alerts_dist"};

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function()
    {
      if (this.readyState == 4 && this.status == 200)
      {
        var JSONdata = this.responseText;

        // console.log(JSONdata);
        var data = JSON.parse(JSONdata);
        // console.log(data['data']);

        // Get plotting values into array
        data_arr = [0, 0, 0, 0];

        for (var i = 0; i < data['data'].length; i++)
        {
          if (data['data'][i]['classification'] == "DoS")
            data_arr[0] = data['data'][i]['total'];

          if (data['data'][i]['classification'] == "Probe")
            data_arr[1] = data['data'][i]['total'];

          if (data['data'][i]['classification'] == "R2L")
            data_arr[2] = data['data'][i]['total'];

          if (data['data'][i]['classification'] == "U2R")
            data_arr[3] = data['data'][i]['total'];
        }

        alerts_dist_chart(data_arr);
      }
    }

    xmlhttp.open("POST", "/get_alerts_dist", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.send(JSON.stringify(send_req));
  }
  get_alerts_dist();


  // Get alerts protocol distribution ajax function
  function get_alerts_protocol_dist()
  {
    var send_req = {req_info: "alerts_protocol_dist"};

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function()
    {
      if (this.readyState == 4 && this.status == 200)
      {
        var JSONdata = this.responseText;

        // console.log(JSONdata);
        var data = JSON.parse(JSONdata);
        // console.log(data['data']);

        // Get plotting values into array
        data_arr = [0, 0, 0];

        for (var i = 0; i < data['data'].length; i++)
        {
          if (data['data'][i]['protocol'] == "ICMP")
            data_arr[0] = data['data'][i]['total'];

          if (data['data'][i]['protocol'] == "TCP")
            data_arr[1] = data['data'][i]['total'];

          if (data['data'][i]['protocol'] == "UDP")
            data_arr[2] = data['data'][i]['total'];
        }

        alerts_protocol_dist_chart(data_arr);
      }
    }

    xmlhttp.open("POST", "/get_alerts_protocol_dist", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.send(JSON.stringify(send_req));
  }
  get_alerts_protocol_dist();
  </script>
</div>

{%endblock contentA%}
