{% extends 'layouts.html'%}

{%block contentA %}
<div class="animation-area">
  <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
<div class="container pt-5">
  <br>
  <h1 class="display-6 text-center mb-5">File Analysis</h1>

  <!-- <div class="container-sm">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-dark me-md-2" type="button">File Upload</button>
        <button class="btn btn-outline-dark" type="button">Modify</button>
    </div>
  </div> -->

  <div class="row d-none" id="success-cont">
    <div class="col gx-3">
      <div class="alert alert-success py-1 mt-1 mb-1 text-center" id="success-msg">
        <div class="text-center" id="success-msg"></div>
      </div>
    </div>
  </div>

  <div class="row d-none" id="failure-cont">
    <div class="col gx-3">
      <div class="alert alert-danger py-1 mb-1 text-center" id="failure-msg">
        <div class="text-center" id="failure-msg"></div>
      </div>
    </div>
  </div>

  <div class="row mb-3 gx-3">
    <form action="" id="file-upload-form" name="file-upload-form" method="POST" enctype="multipart/form-data">
      <div class="col gx-3">
        <div class="input-group">
          <input type="file" class="form-control" id="file-upload" name="file-upload" accept=".pcap, .txt" aria-describedby="file-upload" aria-label="file-upload">
          <button class="btn btn-outline-secondary" type="button" id="file-upload-button" name="file-upload-button" onclick="file_network_analysis()">Upload</button>
          <button class="btn btn-outline-secondary" type="button" id="clear-upload-button" name="clear-upload-button" onclick="clear_upload()">Clear</button>
        </div>
      </div>
    </form>
    <p class="m-0"><small class="" id="date-req">Allowed file format: .pcap</small></p>
    <p class="m-0"><small class="" id="date-req">Max filesize: 10 MB</small></p>
  </div>
  <!-- <div class="row border-top g-3 m-2"></div> -->
  <div class="row gx-3 gy-2">
    <div class="col-12 g-3">
      <div class="h3">
        Analysis Results
        <div class="border-bottom border-info pt-2"></div>
      </div>
    </div>
    <div class="col-12 g-3">
    <div class="d-none" id="loading-status">Loading ... </div>
      <div class="card border-secondary d-none" id="alerts-table" style="height: 450px; max-height: 450px;">
        <div class="table-responsive" id="alerts-table2">
          <table class="table table-light table-hover text-start" id="alerts-table3">
            <thead style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">
              <tr>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">No.</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Protocol</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Source</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Destination</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Classification</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Direction</th>
                <!-- <th scope="col">Info</th> -->
              </tr>
            </thead>
            <tbody class="overflow-auto" id="file-alerts">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script>
  var start = 0;
  var end = 10;
  var index = 1;
  var log_filename = '';
  var prev_req = 0;

  // Timeout function for ajax calls
  const timeout = (prom, time) => {
    let timer;
    return Promise.race([
      prom,
      new Promise((_r, rej) => timer = setTimeout(() => (rej("Request timed out. ")), time))
    ]).finally(() => clearTimeout(timer));
  };

  // Promise for calling analysis process
  function file_network_analysis()
  {
    if (prev_req == 0)
    {
      prev_req = 1;

      let analysis_prcoess = new Promise((resolve, reject) => 
        {setTimeout(() => {file_upload(resolve, reject);}, 1);
      });
      
      // Adjust timeout to 300,000 for production
      const ajax_timeout = timeout(analysis_prcoess, 600000)
                          .then(result => 
                          { 
                            // console.log(result['msg']);
                            document.getElementById('success-msg').innerHTML = result['msg'];
                            document.getElementById('success-cont').classList.remove("d-none");
                            document.getElementById('failure-cont').classList.add("d-none");
                            return result
                            //return new Promise((resolve, reject) => 
                            //                   {setTimeout(() => {file_analysis(resolve, reject, result['filename']);}, 1000);
                            //                 });
                          })
                          // .then(res => {console.log(res['filename']);})
                          
                          .then(analysis_result => 
                          // Adjust timeout to 180,000 for production
                                { let file_analysis_process = new Promise((resolve, reject) => 
                                                              {setTimeout(() => {file_analysis(resolve, reject, analysis_result['filename']);}, 3000);
                                                                        });
                                  document.getElementById('loading-status').classList.remove("d-none");
                                  
                                  // Adjust timeout to 240,000 for production
                                  return timeout(file_analysis_process, 350000);})
                                  
                          //.then(res => {console.log(res['msg']);})
                          
                          .then(load_log_res => 
                            // Load alert log
                                { let load_log = new Promise((resolve, reject) => 
                                                            {setTimeout(() => {load_alert_log(resolve, reject, load_log_res['filename']);}, 1000);
                                                                        });
                                  // Adjust timeout to 240,000 for production
                                  return timeout(load_log, 60000);})
                            
                            /*
                          .then(res => 
                                    {
                                      console.log(res['msg']);

                                      if ("data" in res)
                                      {
                                        console.log(res['data']);
                                      }
                                    })
                            */
                            
                            .then(display_res => {
                              // showt(display_res['data']);
                              log_filename = display_res['filename'];
                              document.getElementById('loading-status').classList.add("d-none");
                              render_results_table(display_res['data']);
                              document.getElementById('alerts-table').classList.remove("d-none");
                              prev_req = 0;
                            })
                            
                          
                          .catch(error => 
                          {// console.log(error['error_code'] + ": " + error['msg']);
                            // console.log(error)
                            if (typeof error !== 'string')
                            {
                              // console.log(error['error_code'] + ": " + error['msg']);
                              document.getElementById('failure-msg').innerHTML = error['msg'];
                            }
                            else
                            {
                              // console.log(error);
                              document.getElementById('failure-msg').innerHTML = error;
                            }
                            document.getElementById('loading-status').classList.add("d-none");
                            document.getElementById('alerts-table').classList.add("d-none");
                            document.getElementById('success-cont').classList.add("d-none");
                            document.getElementById('failure-cont').classList.remove("d-none");
                            prev_req = 0;
                          })
    }
  }

  // Promise for file upload
  function file_upload(resolve, reject)
  {
    // let file_pending = document.getElementById("file-upload").files[0];  // file from input
    let myForm = document.getElementById('file-upload-form');
    // var file = document.getElementById('file-upload').files[0];
    // var form_data = new FormData();
    var form_data = new FormData(myForm);
    // form_data.append('pcapfile', file_pending)
    // console.log('file_upload', form_data.getAll('file-upload')[0]);
    // alert('your file has been uploaded ' + form_data.getAll('file-upload')[0].name);
    // alert(form_data.entries());
    document.getElementById('loading-status').classList.add("d-none");
    document.getElementById('alerts-table').classList.add("d-none");
    document.getElementById('file-alerts').innerHTML = "";
    start = 0;
    end = 10;
    index = 1;

    // Ajax part
    const xhttp = new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if (this.readyState == 4)
      {
        if (this.status == 200)
        {
          // document.getElementById('msg') = this.responseText;
          // console.log('Success !');
          var json_data = JSON.parse(this.responseText)
          // console.log(json_data['msg']);
          // console.log(json_data['filename'])
          resolve(json_data);
        }
        else
        {
          // console.log(this.status + ": " + this.responseText);
          reject({error_code: this.status,
                  msg: this.responseText});
        }
      }
    };
    
    
    xhttp.open("POST", "/file_upload_call", true);
    xhttp.send(form_data);
  }


  // Promise for file analysis
  function file_analysis(resolve, reject, filename)
  {
    // console.log('In file analysis: ' + filename);

    send_req = {'req_info': 'file_analysis', 
                'filename': filename};

    const xhttp = new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if (this.readyState == 4)
      {
        // console.log(this.responseText);
        if (this.status == 200)
        {
          // console.log(this.responseText);
          var json_data = JSON.parse(this.responseText)
          // resolve({'msg': 'analysis ok'});
          resolve(json_data);
        }
        else
        {
          reject({error_code: this.status,
                  msg: this.responseText});
        }
      }
    };
    
    xhttp.open("POST", "/file_analysis", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(send_req));
  }


  // Promise for load data from alert log
  function load_alert_log(resolve, reject, filename)
  {
    // console.log('In load alert log: ' + filename);
    //document.getElementById('file-alerts').innerHTML = "";
    //start = 0;
    //end = 10;
    send_req = {'req_info': 'load_alert_log', 
                'filename': filename,
                'start': start,
                'end': end};

    const xhttp = new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if (this.readyState == 4)
      {
        // console.log(this.responseText);
        if (this.status == 200)
        {
          // console.log(this.responseText);
          var json_data = JSON.parse(this.responseText)
          // resolve({'msg': 'analysis ok'});
          start += 10;
          end += 10;
          resolve(json_data);
        }
        else
        {
          //reject({'error_code': 400,
          //      'msg': 'analysis failed'});
          reject({error_code: this.status,
                  msg: this.responseText});
        }
      }
    };
    
    xhttp.open("POST", "/load_alert_log", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(send_req));
  }


  // Display results in table
  function render_results_table(arr)
  {
    // console.log("In render results");
    //document.getElementById('file-alerts').innerHTML = ""; -->
    var html = '';
    
    for (var i = 0; i < arr.length; i++)
    {
      // console.log('Loop 1')
      var tokens = arr[i].split("#");
      var res = tokens[2].slice(1, tokens[2].length-1);
      var sub_tokens = res.split(",");
      // console.log(sub_tokens);
      var parsedData = {};

      for (var j = 0; j < sub_tokens.length; j++) 
      {
          // console.log("Loop 2");
          var temp = sub_tokens[j].trim().split(": ");
          // console.log(temp)
          temp[0] = temp[0].startsWith("\'") ? temp[0].slice(1,temp[0].length) : temp[0];
          temp[0] = temp[0].endsWith("\'") ? temp[0].slice(0,temp[0].length-1) : temp[0];
          // console.log(temp[0].toString());

          temp[1] = temp[1].startsWith("\'") ? temp[1].slice(1,temp[1].length) : temp[1];
          temp[1] = temp[1].endsWith("\'") ? temp[1].slice(0,temp[1].length-1) : temp[1];
          parsedData[temp[0]] = temp[1];
          // console.log(parsedData);
      }
      
      html += '<tr>';
      //var index = i+1;
      html += '<td>' + index +'</td>';
      html += '<td>' + parsedData['protocol'] +'</td>';
      html += '<td>' + parsedData['src_ip'] +'</td>';
      html += '<td>' + parsedData['dest_ip'] +'</td>';
      html += '<td>' + parsedData['classification'] +'</td>';
      var a_str = parsedData['direction'].charAt(0).toUpperCase() + parsedData['direction'].slice(1);
      // var a_s = parsedData['direction'].toString().charAt(0).toUpperCase();
      
      html += '<td>' + a_str +'</td>';
      
      html += "</tr>";
      index++;
    }

    document.getElementById('file-alerts').innerHTML += html;
  }

  $('#alerts-table2').scroll(function(){
    var $this = $(this);
    // console.log('in scroll: ' + $this.height());
    // console.log('in scroll top: ' + $this.scrollTop());
    //console.log($this);
    var s = $('#alerts-table2')

    //var $results = $('#file-alerts');
    var $results = $('#alerts-table3');
    // console.log('in results: ' + $results.height());
    var $res = $('#file-alerts tr');
    // console.log($results);
    //alert('yeah');
    // console.log($res.length);

    if ($res.length > 0)
    {
      //if (($this.scrollTop() + $this.height()-6) == $results.height()) 
      if ($this.scrollTop() + $this.height() >= $results.height()+16) 
      {
          // loadResults();
          // console.log('scroll more');
          if ($res.length == 10)
          {
            start = 10;
            end = 20;
          }
          else
          {
            start = $res.length;
            end = $res.length + 10;
          }
          //alert('scroll more');
          load_alert_log2(log_filename);
      }
    }
  })


  // Promise for load data from alert log
  function load_alert_log2(filename)
  {
    // console.log('In load alert log: ' + filename);

    send_req = {'req_info': 'load_alert_log', 
                'filename': filename,
                'start': start,
                'end': end};

    const xhttp = new XMLHttpRequest();
    
    xhttp.onreadystatechange = function()
    {
      if (this.readyState == 4)
      {
        // console.log(this.responseText);
        if (this.status == 200)
        {
          // console.log(this.responseText);
          var json_data = JSON.parse(this.responseText)

          if ("data" in json_data)
          {
            render_results_table(json_data['data']);
          }
        }
      }
    };
    
    xhttp.open("POST", "/load_alert_log", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(send_req));
  }

  // Clear file upload field
  function clear_upload()
  {
    prev_req = 0;
    document.getElementById('file-upload').value = '';
  }

  
</script>
{%endblock contentA %}