{% extends 'layouts.html'%}

{%block contentA %}
<div class="animation-area">
  <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
<div class="container pt-5">
  <br>
  <h1 class="display-6 text-center">Dashboard</h1>

  <div class="row g-4">
    <!-- <div class="card-group"> -->
    <div class="col">
        <div class="card h-100 border-secondary mb-3">
          <h5 class="card-header bg-transparent">Total number of potential threats</h5>
          <div class="card-body text-dark">
            <!-- <p class="card-text">12</p> -->
            <h1 class="display-6">12</h1>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 border-secondary mb-3" >
          <h5 class="card-header bg-transparent">Total threats (previous month)</h5>
          <div class="card-body text-dark">
            <h1 class="display-6">15</h1>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 border-secondary mb-3" >
          <h5 class="card-header bg-transparent">Top attack type</h5>
          <div class="card-body text-dark">
            <h1 class="display-6">DDos</h1>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
  </div>
  <div class="row mt-3">
    <!-- <div class="col w-100 p-3"> -->
    <div class="col">
        <div class="card h-100 border-secondary mb-3" >
          <h5 class="card-header text-start bg-transparent">Traffic</h5>
          <table class="table table-light table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Time</th>
                <th scope="col">Priority</th>
                <th scope="col">Category</th>
                <th scope="col">IP Source</th>
                <th scope="col">IP Destination</th>
                <th scope="col">Protocol</th>
                <th scope="col">Info</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>12:00</td>
                <td>High</td>
                <td>Malware</td>
                <td>192.168.1.1</td>
                <td>192.168.1.2</td>
                <td>TCP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>14:00</td>
                <td>Medium</td>
                <td>Virus</td>
                <td>192.168.2.1</td>
                <td>192.168.2.2</td>
                <td>HTTP</td>
                <td>Application data</td>
              </tr>
            </tbody>
          </table>
          <div class="card-body text-dark">
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
  </div>
  <!-- <div class="row mt-5">
    <div class="col">
      <div class="card border-secondary mb-3">
        <div class="d-flex">
          <a class="btn btn-primary" id="start" href="#" role="button">Start</a>
        </div>
      </div>
    </div>
  </div> -->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script>
  $(function() {
          $('a#start').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/ajaxTest',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
{%endblock contentA %}
