{% extends 'layouts.html'%}

{%block contentA %}
<div class="animation-area">
  <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
<div class="container pt-5 pb-5">
  <br>
  <h1 class="display-6 text-center">Dashboard</h1>

  <div class="row g-4">
    <!-- <div class="card-group"> -->
    <div class="col">
        <div class="card h-100 border-secondary mb-3">
          <h5 class="card-header bg-transparent text-center" style="height: 65px;">Total number of potential threats</h5>
          <div class="card-body text-dark">
            <!-- <p class="card-text">12</p> -->
            <h1 class="display-6 text-center" id="total-potential-threats">0</h1>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 border-secondary mb-3 text-center">
          <h5 class="card-header bg-transparent" style="height: 65px;">Total threats (previous month)</h5>
          <div class="card-body text-dark">
            <h1 class="display-6" id="total-threats-prev-mth">0</h1>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 border-secondary mb-3 text-center">
          <h5 class="card-header bg-transparent" style="height: 65px;">Top attack type</h5>
          <div class="card-body text-dark">
            <h1 class="display-6" id="top-attack-type">DoS</h1>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
        </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <div class="float-end">
        <p class="card-text"><small class="text-muted" id="date-req"></small></p>
      </div>
    </div>
  </div>

  <!-- Apply display filter... -->
  <div class="row mt-3 form-floating">
    <div class="col">
      <input type="text" class="form-control" id="filter" name="filter" placeholder="Apply a filter...">
    </div>
  </div>

  <div class="row mt-3">
    <!-- <div class="col w-100 p-3"> -->
    <div class="col">
        <div class="card border-secondary mb-3" style="max-height: 450px;">
          <h5 class="card-header text-start bg-transparent fw-bold">Alerts</h5>
          <div class="table-responsive">
          <table class="table table-light table-hover text-start">
            <!-- <thead style="position: sticky;top: 0"> -->
              <thead style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">
              <!-- <tr style="position: fixed; width: 100%"> -->
              <tr>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Alert ID</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Protocol</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Source</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Destination</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">DateTime</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Classification</th>
                <th scope="col" style="position: sticky; top: 0; border-bottom: 2px solid black; background-color: #eeeeee;">Direction</th>
              </tr>
            </thead>
            <tbody class="overflow-auto" id="alerts">
             <!-- <tr>
                <th scope="row">1</th>
                <td>TCP</td>
                <td>192.168.1.1</td>
                <td>192.168.1.2</td>
                <td>Date</td>
                <td>R2L</td>
                <td>Unknown</td>
              </tr> -->
              <!-- 
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>14:00</td>
                <td>Medium</td>
                <td>Virus</td>
                <td>192.168.2.1</td>
                <td>192.168.2.2</td>
                <td>HTTP</td>
                <td>Application data</td>
              </tr> -->
              <!--  -->
              <!-- <tr>
                <th scope="row">1</th>
                <td>12:00</td>
                <td>High</td>
                <td>Malware</td>
                <td>192.168.1.1</td>
                <td>192.168.1.2</td>
                <td>TCP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>14:00</td>
                <td>Medium</td>
                <td>Virus</td>
                <td>192.168.2.1</td>
                <td>192.168.2.2</td>
                <td>HTTP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>12:00</td>
                <td>High</td>
                <td>Malware</td>
                <td>192.168.1.1</td>
                <td>192.168.1.2</td>
                <td>TCP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>14:00</td>
                <td>Medium</td>
                <td>Virus</td>
                <td>192.168.2.1</td>
                <td>192.168.2.2</td>
                <td>HTTP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>12:00</td>
                <td>High</td>
                <td>Malware</td>
                <td>192.168.1.1</td>
                <td>192.168.1.2</td>
                <td>TCP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>13:30</td>
                <td>Low</td>
                <td>Virus</td>
                <td>192.168.1.1</td>
                <td>192.168.1.1</td>
                <td>UDP</td>
                <td>Application data</td>
              </tr> -->
            </tbody>
          </table>
          </div>
          <!-- <div class="card-body text-dark"> -->
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <!-- </div> -->
        </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <div class="card border-secondary mb-3">
        <div class="d-flex"> -->
          <!-- <a class="btn btn-primary" id="start" href="#" role="button">Start</a> -->
          <!-- <button class="btn btn-primary" id="start" onclick="get_traffic_data()">start</button>
        </div>
      </div>
    </div>
  </div> -->

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{url_for('static', filename='main.js')}}"></script>
<script>
  // Constants 
  const date_now = new Date();
  const date_obj = date_now.toLocaleString("sv-SE", {timeZone: "Asia/Singapore"});


  $(function() {
          $('a#start').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/ajaxTest',
                function(data) {
              //do nothing
            });
            return false;
          });
        });

  // Filter table
  $(document).ready(function() {
      $("#filter").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#alerts tr").filter(function() {
              // if ($(this).hasClass("collapse") == false)
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
      });
  });

  
  

  // Get total number of potential threats
  function get_total_potential_threats()
  {
    var send_req = {'req_info': "total_potential_threats",
                    'req_datetime': date_obj}

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function()
    {
      if (this.readyState == 4 && this.status == 200)
      {
        // document.getElementById("traffic-data") = 'yes';
        var JSONdata = this.responseText;
        // console.log(JSONdata);
        var html = '';
        var data = JSON.parse(JSONdata);
        // console.log(data);
        
        total = 0

        // For simulation
        // data['data'][data['data'].length-1]['total'] = 600;

        for (var a = 0; a < data['data'].length; a++)
        {
          total += data['data'][a]['total'];
        }

        document.getElementById("total-potential-threats").innerHTML = total;
        document.getElementById("top-attack-type").innerHTML = data['data'][0]['classification'];
        // For simulation
        // document.getElementById("top-attack-type").innerHTML = data['data'][data['data'].length-1]['classification'];
      }
    };
    xmlhttp.open("POST", "/get_total_potential_threats", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.send(JSON.stringify(send_req));
  }
  get_total_potential_threats()


  // Get number of threats previous month
  function total_threats_prev_mth()
  {
    var send_req = {'req_info': "total_threats_prev_mth",
                    'req_datetime': date_obj}

    var xmlhttp = new XMLHttpRequest();

    xmlhttp.onreadystatechange = function()
    {
      if (this.readyState == 4 && this.status == 200)
      {
        // document.getElementById("traffic-data") = 'yes';
        var JSONdata = this.responseText;
        // console.log(JSONdata);
        // var html = '';
        var data = JSON.parse(JSONdata);
        // console.log(data);
        
        total = 0
        
        for (var a = 0; a < data['data'].length; a++)
        {
          total += data['data'][a]['total'];
        }
        

        document.getElementById("total-threats-prev-mth").innerHTML = total;
      }
    };
    xmlhttp.open("POST", "/total_threats_prev_mth", true);
    xmlhttp.setRequestHeader("Content-type", "application/json");
    xmlhttp.send(JSON.stringify(send_req));
  }
  total_threats_prev_mth()


  // Get real time alerts
  // const events = new EventSource("/new_live_alerts");
  let events = null;
  
  function connect() 
  {
    events = new EventSource("/new_live_alerts");
    events.onerror = function() {
        events.close();
      }
  }
  connect();

  let reconnecting = false;
  setInterval(() => {
      if (events.readyState == EventSource.CLOSED) {
          reconnecting = true;
          console.log("reconnecting...");
          connect();
      } else if (reconnecting) {
          reconnecting = false
          console.log("reconnected!");
      }
  }, 2000);


  events.onmessage = function (event) 
  {
    const data = JSON.parse(event.data);

    // console.log(data['live_alerts'][0]['protocol']);
    // console.log(data['live_alerts']['alert_datetime']);

    var table = document.getElementById("alerts")
    html = '';

    //for (var i = 0; i < data['live_alerts'].length; i++)
    //{
      var temp = data['live_alerts'];
      var row = table.insertRow(0);
      var alert_id = row.insertCell(0);
      var protocol = row.insertCell(1);
      var src = row.insertCell(2);
      var dest = row.insertCell(3);
      var alert_datetime = row.insertCell(4);
      var classification = row.insertCell(5);
      var direction = row.insertCell(6);

      alert_id.innerHTML = temp['alert_id'];
      protocol.innerHTML = temp['protocol'];
      src.innerHTML = temp['src_ip'];
      dest.innerHTML = temp['dest_ip'];
      alert_datetime.innerHTML = temp['alert_datetime'];
      //alert_datetime.innerHTML = "null";
      classification.innerHTML = temp['classification'];

      //capFirstLetter = temp['direction'].charAt(0).toUpperCase() + temp['direction'].slice(1);
      direction.innerHTML = temp['direction'].charAt(0).toUpperCase() + temp['direction'].slice(1);
  }

  document.getElementById("date-req").innerHTML = "Last updated: " + date_obj + " SGT";
</script>
{%endblock contentA %}