<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- Bootstrap 5 CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Custom main.css -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    
    <!-- Chartjs script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <nav class="navbar navbar-light bg-transparent fixed-top">
        <!--OFFCANVAS NAVBAR-->
        <div class="container-fluid">
            {% if title != 'Login' and title != 'Register' %}
            <styling1><a class="navbar-brand" href="{{url_for('homepage')}}">FYP-21-S3-11</a></styling1>
            {% else %}
            <styling1><a class="navbar-brand" href="{{url_for('login')}}">FYP-21-S3-11</a></styling1>
            {% endif %}
            {% if title != 'Login' and title != 'Register' %}
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">IDS Analysis</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form> -->
                        <br>
                        <styling>
                        <li class="nav-item">
                        {% if title == 'Login' and title == 'Register' %}
                            <a class="nav-link active" aria-current="page" href="{{url_for('register')}}">Register</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item text-center">
                          <i class="material-icons" style="font-size:50px">account_circle</i><a class="nav-link active" aria-current="page" href="{{url_for('profile')}}">Profile</a>
                        </li>
                        <hr/>
                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">Dashboard</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link active" href="{{url_for('datavisualization')}}">Data Visualization</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page" href="{{url_for('file_review')}}">File Analysis</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Logout</a>
                        </li>
                      </styling>
                        <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rules
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item" href="#">Create</a></li>
                <li><a class="dropdown-item" href="#">Testing</a></li>
                <li><a class="dropdown-item" href="#">Events</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Events</a></li>
              </ul>
            </li> -->
                    </ul>

                </div>
            </div>
        </div>

    </nav>
    <!-- OFFCANVAS Ends here-->

</head>

<body>

    <div class="container w-50">
        {%with messages=get_flashed_messages(with_categories=true)%} {%if messages%} {%for category,message in messages%}
        <div class="alert alert-{{category}}">
            {{message}}
        </div>
        {%endfor%} {%endif%} {%endwith%}
    </div>

    {%block contentA %} {%endblock contentA %} {%block contentB %} {%endblock contentB %} {%block contentC %} {%endblock contentC %} {%block contentD %} {%endblock contentD %}
    <!-- Booststrap 5 JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>

</html>