{% extends 'layouts.html'%}

<script src="../static/main.js"></script>

{%block contentA%}
<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
<div class="container w-50 pt-5">
    <form method="POST" action="">
{{form.hidden_tag()}}
    <fieldset>
        <br>
        <h1 class="display-6 text-center">Login</h1>
        <!-- Login error msg -->
        {% if msg %}
            <div class="alert alert-success py-2 mt-1">{{msg}}</div>
        {% endif %}
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
        <div class="mb-3">
            <!-- {{form.email.label(class="form-label")}}

                {%if form.email.errors%}
                    {{form.email(class="form-control is-invalid")}}

                    {%for error in form.email.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.email(class="form-control")}}
                {%endif%} -->

            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="John Doe" required>
        </div>

        <div class="mb-3">

            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="password" required>
            <!-- {{form.password.label(class="form-label")}}

                {%if form.password.errors%}
                    {{form.password(class="form-control is-invalid")}}

                    {%for error in form.password.errors%}
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.password(class="form-control")}}
                {%endif%} -->
                <input type="checkbox" id="checkpwd"> Show Password
        </div>
    </fieldset>

    <!-- To show/hide password field -->
    <script>
        window.addEventListener("load", function(){
        var checkbox  = document.getElementById('checkpwd');
        var x = document.getElementById('{{form.password.id}}');
        checkbox.addEventListener('change', function() {
            if(this.checked) {
                x.type = 'text';
            } else {
                x.type = 'password';
            }
        });
    });
    </script>

    <center>
        <div class="form-check form-check-inline">
            <!-- {{form.submit(class='btn btn-outline-secondary')}} -->
            <button type="submit" name="signin" class="btn btn-outline-secondary">Sign In</button>
        </div>

        <a class="btn btn-outline-secondary" href="{{url_for('register')}}" role="button">New User</a>
    </center>


    </form>
</div>
{%endblock contentA%}

