<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--Navbar starts here-->
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('homepage')}}">IDS Analysis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">Dashboard</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('datavisualization')}}">Data Visualization</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{url_for('datavisualization')}}">Rules</a></li>
              <li><a class="dropdown-item" href="#">Testing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Events</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div> <!--Right side of navbar-->

    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    <ul class="navbar-nav justify-content-end"> <!--Left side of navbar-->

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('register')}}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{'login'}}">Login</a>
      </li>  
    </ul>
  </nav>