{% extends 'layouts.html'%}
{%block contentA %}
<div class="animation-area">
  <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      
  <div class="container pt-5">
  <br>
  <h1 class="display-6 text-center">Profile</h1>
  <br>
    <div class="text-center">
      <i class="material-icons " style="font-size: 100px">account_circle</i>
    </div> <br>

    <h2 class="text-center">Hi, {{ session.username }}</h2> <br>

    <div style="border-style: solid; border-width: 1px; background-color: white; border-color: white; padding: 25px;">
      <form method="POST" action="" class="row g-3">
      <fieldset>

        {% if 'success' in msg %}
            <div class="alert alert-success py-2 mt-1">{{msg['success']}}</div>
        {% endif %}

        {% if 'password_error' in msg %}
        <div class="alert alert-danger py-2 mt-1">{{msg['password_error']}}</div>
        {% endif %}

        {% if 'pwd_error' in msg %}
        <div class="alert alert-danger py-2 mt-1">{{msg['pwd_error']}}</div>
        {% endif %}

        {% if 'pwd_error2' in msg %}
        <div class="alert alert-danger py-2 mt-1">{{msg['pwd_error2']}}</div>
        {% endif %}

        {% if 'pwd_error3' in msg %}
        <div class="alert alert-danger py-2 mt-1">{{msg['pwd_error3']}}</div>
        {% endif %}

        <h4 style="text-align: center;">Change Password</h4> <br>

        <div class="row mb-3">
          <label for="currentpwd" class="col-sm-2 col-form-label">Current password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="oldpassword" name="oldpassword" aria-describedby="oldpassword" required>
          </div>
          
        </div>

        <div class="row mb-3">
          <label for="newpwd" class="col-sm-2 col-form-label">New password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="newpassword" name="newpassword" aria-describedby="newpassword" required>
          </div>
        </div>

        <div class="row mb-3">
          <label for="repeatpwd" class="col-sm-2 col-form-label">Re-enter new password:</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="repeatpassword" name="repeatpassword" aria-describedby="repeatpassword" required>
          </div>
        </div>
      </fieldset>

      <br>
      <div class="text-center">
        <button type="submit" name="changepwd" class="btn btn-outline-secondary">Save Password</button>
      </div>

    </form>
  </div>

  </div>
</div>



{%endblock contentA %}