{% extends 'layouts.html'%}

{%block contentA%}
<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
<div class="container w-50 pt-5">
    <form method="POST" action="">
{{form.hidden_tag()}}
    <fieldset>
        <br>
        <h1 class="display-6 text-center">New Administrator</h1>
        {% if 'success' in msg %}
            <div class="alert alert-success py-2 mt-1">{{msg['success']}}</div>
        {% endif %}
        <div class="mb-3">
            <!--Label-->
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="John Doe" required>
            {% if 'username_error' in msg %}
            <div class="alert alert-danger py-2 mt-1">{{msg['username_error']}}</div>
            {% endif %}
            <!-- {{form.username.label(class="form-label")}} -->
            <!-- If else condition
            {%if form.username.errors%}
                {{form.username(class="form-control is-invalid")}} -->
                <!--Foreach condition-->
                <!-- {%for error in form.username.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            {%else%} -->

                <!--Textbox-->
                <!-- {{form.username(class="form-control")}}
            {%endif%} -->

        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" aria-describedby="email" placeholder="example@example.com" required>
            {% if 'email_error' in msg %}
            <div class="alert alert-danger py-2 mt-1">{{msg['email_error']}}</div>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="password" required>
            {% if 'pwd_error' in msg %}
            <div class="alert alert-danger py-2 mt-1">{{msg['pwd_error']}}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="comfirm_password" name="confirm_password" aria-describedby="confirm_password" required>
            {% if 'pwd_error2' in msg %}
            <div class="alert alert-danger py-2 mt-1">{{msg['pwd_error2']}}</div>
            {% endif %}
        </div>


    </fieldset>

    <div class="d-flex justify-content-center align-items-center mt-2">
        <!-- {{form.submit(class='btn btn-outline-secondary')}} -->
        <a class="btn btn-outline-secondary" href="{{url_for('login')}}" role="button" px-2>Back to Login</a>
        <div class="px-2"></div>
        <button type="submit" name="register" class="btn btn-outline-secondary" px-2>Register</button>
    </div>

    </form>
</div>
{%endblock contentA%}