{% extends 'layouts.html'%}

{%block contentA%}
<div class="animation-area">
    <ul class="box-area">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
<div class="container w-50 pt-5">
    <form method="POST" action="">
{{form.hidden_tag()}}
    <fieldset>
        <br>
        <h1 class="display-6 text-center">New Administrator</h1>
        <div class="mb-3">
            <!--Label-->
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="username">
            <div class="error">{{username}}</div>
            <!-- {{form.username.label(class="form-label")}} -->
            <!-- If else condition
            {%if form.username.errors%}
                {{form.username(class="form-control is-invalid")}} -->
                <!--Foreach condition-->
                <!-- {%for error in form.username.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            {%else%} -->
                <!--Textbox-->
                <!-- {{form.username(class="form-control")}} 
            {%endif%} -->
        
        </div>

        <div class="mb-3">
            {{form.email.label(class="form-label")}} <!--Label-->
    
                {%if form.email.errors%} <!--If else condition-->
                    {{form.email(class="form-control is-invalid")}}
                    
                    {%for error in form.email.errors%} <!--Foreach condition-->
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.email(class="form-control")}} <!--Textbox-->
                {%endif%}
            
        </div>

        <div class="mb-3">
            {{form.password.label(class="form-label")}} <!--Label-->
        
                {%if form.password.errors%} <!--If else condition-->
                    {{form.password(class="form-control is-invalid")}}
                        
                    {%for error in form.password.errors%} <!--Foreach condition-->
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.password(class="form-control")}} <!--Textbox-->
                {%endif%}
                
        </div>

        <div class="mb-3">
            {{form.confirm_password.label(class="form-label")}} <!--Label-->
            
                {%if form.confirm_password.errors%} <!--If else condition-->
                    {{form.confirm_password(class="form-control is-invalid")}}
                            
                    {%for error in form.confirm_password.errors%} <!--Foreach condition-->
                        <span>{{error}}</span>
                    {%endfor%}
                {%else%}
                    {{form.confirm_password(class="form-control")}} <!--Textbox-->
                {%endif%}
                    
        </div>
    </fieldset>
    
    <div class="d-grid gap-2 col-2 mx-auto">
        {{form.submit(class='btn btn-outline-secondary')}}
    </div>

    </form>
</div>
{%endblock contentA%}