{% extends 'layouts.html'%}

{%block contentA %}
<div class="animation-area">
  <ul class="box-area">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
<div class="container pt-5">
  <br>
  <h1 class="display-6 text-center">Rules</h1>

  <div class="container-sm">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-outline-dark me-md-2" type="button">Create rule</button>
        <button class="btn btn-outline-dark" type="button">Modify</button>
      </div>
  </div>
</div>

<script src="{{url_for('static', filename='main.js')}}"></script>
{%endblock contentA %}